.listContainer {
  padding: 1rem;
  max-width: 100vw;
  box-sizing: border-box;
}

.title{
  
  color: #222;
  
  font-size: 44px;
  line-height: 1.5;
  font-weight: 500;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  max-width: 100vw;
  box-sizing: border-box;
  margin: 0 auto;
  justify-content: center;
}
.cardLink {
  text-decoration: none;
}
