.body-margin {
    margin-left: 30px;
    margin-right: 30px;
}

@media (max-width: 767px) {
    .body-margin {
        margin-left: 0;
        margin-right: 0;
    }
}

.layout-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-content {
  flex: 1;
  width: 100%;
}
