.card {
  background-color: var(--mantine-color-body);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  box-shadow: none;
}

@media (max-width: 755px) {
  .card {
    flex-direction: column;
  }
}

.title {
  font-weight: 500;
  font-size: xx-large;
  
  line-height: 1.2;
}

.body {
  padding: var(--mantine-spacing-md);
}

.description {
  margin-top: var(--mantine-spacing-sm);
  color: var(--mantine-color-gray-7);
  font-size: large;
}
